stages:
  - lint

.base_job: &base_job
  image: registry.gitlab.com/thelabnyc/python:3.13.1070-node20@sha256:ac301add64a67ea7fa8821da773e9801813e1c3cb95b9b9898f2d88a568b4869
  before_script:
    - npm ci
  variables:
    NODE_ENV: development
    PRE_COMMIT_HOME: ${CI_PROJECT_DIR}/.cache/pre-commit

lint:
  <<: *base_job
  stage: lint
  needs: []
  script:
    - pip3 install pre-commit
    - pre-commit run --all-files
  cache:
    paths:
      - ${PRE_COMMIT_HOME}
