stages:
  - lint

.base_job: &base_job
  image: registry.gitlab.com/thelabnyc/python:3.13.1076-node20@sha256:60950f1059d64f416e1a02fd070aee7f0e15eda0ecb43a211b41694d011e9542
  before_script:
    - npm ci
  variables:
    NODE_ENV: development
    PRE_COMMIT_HOME: ${CI_PROJECT_DIR}/.cache/pre-commit

lint:
  <<: *base_job
  stage: lint
  needs: []
  script:
    - pip3 install pre-commit
    - pre-commit run --all-files
  cache:
    paths:
      - ${PRE_COMMIT_HOME}
