stages:
  - lint

.base_job: &base_job
  image: registry.gitlab.com/thelabnyc/python:3.14-node24@sha256:82e53abeb0f6619d9fad592d2817931683965dbbcb6c8928b581946ade8e6074
  before_script:
    - npm ci
  variables:
    NODE_ENV: development
    PRE_COMMIT_HOME: ${CI_PROJECT_DIR}/.cache/pre-commit

lint:
  <<: *base_job
  stage: lint
  needs: []
  script:
    - pip3 install pre-commit
    - pre-commit run --all-files
  cache:
    paths:
      - ${PRE_COMMIT_HOME}
