stages:
  - lint

.base_job: &base_job
  image: registry.gitlab.com/thelabnyc/python:3.14-node24@sha256:ff6e1e52f8bbf9e8dd210773c9d434f6906db6a4c7103016616ae9fb6686b89c
  before_script:
    - npm ci
  variables:
    NODE_ENV: development
    PRE_COMMIT_HOME: ${CI_PROJECT_DIR}/.cache/pre-commit

lint:
  <<: *base_job
  stage: lint
  needs: []
  script:
    - pip3 install pre-commit
    - pre-commit run --all-files
  cache:
    paths:
      - ${PRE_COMMIT_HOME}
