stages:
  - lint

.base_job: &base_job
  image: registry.gitlab.com/thelabnyc/python:3.13.1093-node20@sha256:7664e5abe2061085789f6e5a8d47f74c04d58ace963eca322d9f8f8e4613bea0
  before_script:
    - npm ci
  variables:
    NODE_ENV: development
    PRE_COMMIT_HOME: ${CI_PROJECT_DIR}/.cache/pre-commit

lint:
  <<: *base_job
  stage: lint
  needs: []
  script:
    - pip3 install pre-commit
    - pre-commit run --all-files
  cache:
    paths:
      - ${PRE_COMMIT_HOME}
