stages:
  - lint

.base_job: &base_job
  image: registry.gitlab.com/thelabnyc/python:3.14-node24@sha256:2ddda0ad7a1fe99fea9408c039667715685324578eb04a52da43c1f049bc07ba
  before_script:
    - npm ci
  variables:
    NODE_ENV: development
    PRE_COMMIT_HOME: ${CI_PROJECT_DIR}/.cache/pre-commit

lint:
  <<: *base_job
  stage: lint
  needs: []
  script:
    - pip3 install pre-commit
    - pre-commit run --all-files
  cache:
    paths:
      - ${PRE_COMMIT_HOME}
