stages:
  - lint

.base_job: &base_job
  image: registry.gitlab.com/thelabnyc/python:3.14-node24@sha256:835ce6167072d4ac6f1137dd1732fb713b0aa8b374224c9072961d7e273d0c08
  before_script:
    - npm ci
  variables:
    NODE_ENV: development
    PRE_COMMIT_HOME: ${CI_PROJECT_DIR}/.cache/pre-commit

lint:
  <<: *base_job
  stage: lint
  needs: []
  script:
    - pip3 install pre-commit
    - pre-commit run --all-files
  cache:
    paths:
      - ${PRE_COMMIT_HOME}
