stages:
  - lint

.base_job: &base_job
  image: registry.gitlab.com/thelabnyc/python:3.13.1055-node20@sha256:be35be20b6e93c9c4ddaf5dc95e56137da723c4fbe8801269ba79d8ba8e5bb93
  before_script:
    - npm ci
  variables:
    NODE_ENV: development
    PRE_COMMIT_HOME: ${CI_PROJECT_DIR}/.cache/pre-commit

lint:
  <<: *base_job
  stage: lint
  needs: []
  script:
    - pip3 install pre-commit
    - pre-commit run --all-files
  cache:
    paths:
      - ${PRE_COMMIT_HOME}
