stages:
  - lint

.base_job: &base_job
  image: registry.gitlab.com/thelabnyc/python:3.14-node24@sha256:6b243fe6142e7ca9caa7f44f12af47909070475742c20fc75b7f08bab82924f9
  before_script:
    - npm ci
  variables:
    NODE_ENV: development
    PRE_COMMIT_HOME: ${CI_PROJECT_DIR}/.cache/pre-commit

lint:
  <<: *base_job
  stage: lint
  needs: []
  script:
    - pip3 install pre-commit
    - pre-commit run --all-files
  cache:
    paths:
      - ${PRE_COMMIT_HOME}
